.left{
    position: absolute ;
    left: 34px;
    top: 18px;
    border: 2px solid red;
    display: inline-block;
}

.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    border: 2px solid rgb(122, 250, 17);
}

.right{
    border: 2px solid rgb(13, 28, 248);
    display: inline-block;
    position: absolute ;
    right: 34px;
    top: 18px;    
}

.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 18px;

}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar li a:hover{
    color: rgb(226, 112, 112);
    text-decoration:overline;
}