.left{
    position: absolute ;
    left: 34px;
    top: 18px;
    border: 2px solid);
    display: inline-block;
}

.left img {
    width: 93px;
}
.left div{
    text-align: center;
}
.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    border: 2px solid rgb(210, 216, 210);
}

.right{
    border: 2px solid rgb(210, 210, 226);
    display: inline-block;
    position: absolute ;
    right: 34px;
    top: 18px;    
}

.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar li a:hover , .navbar li a.active{
    color: rgb(12 241 167);
    text-decoration:overline;
}

.btn{
    margin: 0px 9px;
    background-color: black;
    color: blanchedalmond;
    padding: 4px 4px;
    border-radius: 10px;
    border: 2px solid grey;
    font-size: 15px;
}