h3{
    color:chocolate;
    background-color: oldlace;
} 
/* This is element selector */

p{
    border: 2px solid red;
}
/* This is element selector */

#redElement{
    color: darkorange;
} 
/* Id Selector */

.bgblue{
    background-color: greenyellow;
}
/* class selector */
.SecondPara{
    color: fuchsia;
}
/* class selector */

span ,footer {
    color: olive;
}
/* group selectors */