h3{
    color:chocolate;
    background-color: oldlace;
} 
/* This is element selector */

p{
    color: cyan;
    box-shadow: darkolivegreen;
}

#redElement{
    color: darkorange;
} 

/* id Selector */

.bgblue{
    background-color: greenyellow;
}

.SecondPara{
    color: fuchsia;
}
/* class selector */

span ,footer {
    color: olive;
}
/* group selectors */