h3{
    color:chocolate;
    background-color: oldlace;
} 
/* This is element selector */

p{
    color: cyan;
    box-shadow: darkolivegreen;
}

#redElement{
    color: darkorange;
    background-color: dimgrey;
} 
/* id Selector */

.SecondPara{
    color: fuchsia;
    background-color: gold;
}
/* class selector */