*{
    background-color: rgb(221, 144, 44);
}
.container{
    width: 900px;
    margin: 50px auto; /*50px will take the margin upside and downside Auto will take the element in center from left and right */
}
body{
    font-family: 'New Tegomin', serif;
    box-sizing: border-box;
}

.item{
    border: 2px solid grey;
    /* padding: 12px 30px;
    /*margin: 12px 20px; */
    background-color: rgb(235, 182, 69);
}

#fruits{
    float: left;
    width: 48%;
}

#computer{
    float: right;
    width: 48%;
}

#stationary{
    float: left;
    width: 100%;
}