#firstPara{
    background-color: chartreuse;
    height: 100px;
    width: 455px;

  /*  border-width: 4px;
    border-color: coral ;
    border-style: solid;
    */

    /*Use above all in one line*/
    border: 4px coral solid;
    border-radius: 5px; /*To make the border point as curves*/
}