.container{
    border: 2px solid rgb(194, 0, 0);
    background-color: rgb(13, 194, 218);
    padding: 34px;
    margin: 34px auto;
    width: 666px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(4, 240, 24);
    background-color:blueviolet;
}

a:visited{
    background-color: rgb(214, 214, 46);
}
a:active{
    background-color: rgb(215, 215, 228);
}
.btn{
    background-color: rgb(255, 68, 0);
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
}
    